*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #2b2922;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8rem;
    font-family: "Orbitron", Helvetica, sans-serif;
    font-weight: 600;
}

.list{
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: rgb(124, 124, 124);
    font-family: "robotic",sans-serif;
    font-weight: bold;
    
    font-size: large;
    margin-right: -280px;
}


.list-item:nth-child(1){
    color: white; 
}

.button-small{
    padding: 15px;
    width: 180px;
    color: #887b32;
    border: 2px solid #887b32;
    border-radius: 13px;
    background: #2b2922;
    font-weight: bold;
    font-size: larger;
    margin-right: -30px;
    cursor: pointer;
}

.logo{
    margin-left: -3rem;
    
}

.hero-heading{
    color: white;
    font-size: 70px;
    font-family: "robotic", sans-serif;
    margin-left: 5rem;
    width: 600px;
    margin-top: 7rem;

}

p{
    margin-left: 53%;
    margin-top: -130px;
    color:  rgb(124, 124, 124);
    font-family: "robotic", sans-serif,Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    
    width: 400px;
}

.bottom{
    margin-top: 50px;
    
}